@font-face {
    font-weight: 400; /* Соответствует значению normal */
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
  }
  
  @font-face {
    font-weight: 700; /* Соответствует значению bold */
    font-family: Roboto;
    src: url("../fonts/Roboto-Bold.ttf");
  }
  
  @font-face {
    font-weight: 300;
    font-family: Roboto;
    src: url("../fonts/Roboto-Light.ttf");
  }
  
  body {
    font-family: Roboto, sans-serif;
  }

  body {
    font-family: italic small-caps bold 16px/24px Roboto, sans-serif;
  }
  
  h1 {
    font-weight: bold;
  }
  
  h2 {
    font-weight: 300;
  }
  
  a {
    color: inherit;
}
